<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi5dQxUUM7ZorUzadf2LcRFoFXB_MT6sU</string>
	<key>GCM_SENDER_ID</key>
	<string>735076023115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instax.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>instax-3b601</string>
	<key>STORAGE_BUCKET</key>
	<string>instax-3b601.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735076023115:ios:c302e9344b697c8d8ac6ce</string>
</dict>
</plist>